<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
{{#if user}}
  <p>Добро пожаловать, {{user}}!</p>
{{else}}
  <p>Пожалуйста, <a href="/login">войдите</a>, чтобы продолжить.</p>
{{/if}}
<pre>
    _    _____   _     _  _  ______     ___
   / \  |___ /  / \  _| || ||__  / |   / _ \
  / _ \   |_ \ / _ \|_  ..  _|/ /| |  | | | |
 / ___ \ ___) / ___ \_      _/ /_| |__| |_| |
/_/   \_\____/_/   \_\|_||_|/____|_____\___/
            </pre>
<p class="loading-time" id="loading-time">Время загрузки страницы составило </p>
<script>
  const responseTime = document.getElementById('response-time');
  const xResponseTime = parseInt(
    document.querySelector('meta[name="x-response-time"]').content
  );
  const domContentLoadedEventEnd =
    window.performance.timing.domContentLoadedEventEnd -
    window.performance.timing.navigationStart;
  const totalTime = xResponseTime + domContentLoadedEventEnd;
  responseTime.innerText = totalTime;
</script>
<p>Страница загружена за {{elapsed}} мс</p>
<h3>©Azazin. All rights reserved.</h3>