<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
  <nav class="top-menu">
    <img class="logo" src="assets/logo1.png">
    <ul class="menu-main">
      <li><a class="navbar-button active" href="index">Главная</a></li>
      <li><a class="navbar-button" href="team">Наша команда</a></li>
      <li><a class="navbar-button" href="programs">Программы обучения</a></li>
      <li><a class="navbar-button" href="planner">Планер</a></li>
      <li><a class="navbar-button" href="reviews">Отзывы</a></li>
    </ul>
  </nav>